# google finance api 
(using pandas-datareader)

## import 
- psycopg2
- pandas
- pandas_sql
- sqlalchemy
- urllib3
- json

In [1]:
import psycopg2
import pandas.io.sql as pandas_sql
from pandas import DataFrame
from sqlalchemy import create_engine
import urllib3
import json

## import 
- pandas-datareader

In [20]:
from pandas_datareader import data
import pandas_datareader as pdr
import datetime

In [3]:
dict_account = {
    'host': 'localhost',
    'dbname': 'stock_data',
    'user': 'postgres',
    'password': '1234'
}

conn_str = "host='{}' dbname='{}' user={} password={}"\
    .format(
        dict_account['host'],
        dict_account['dbname'],
        dict_account['user'],
        dict_account['password']
    )

alchemy_conn = create_engine(
    "postgresql://{}:{}@localhost:5432/{}"
        .format(
            dict_account['user'],
            dict_account['password'],
            dict_account['dbname']
        )
)

In [4]:
arr_columns = [
        'STAT_NAME',  'STAT_CODE',  'ITEM_CODE1', 'ITEM_CODE2', 'ITEM_CODE3',
        'ITEM_NAME1', 'ITEM_NAME2', 'ITEM_NAME3', 'DATA_VALUE', 'TIME'
]

In [5]:
url = "http://ecos.bok.or.kr/api/StatisticSearch/RV1NS82MWHJGX93N28C2/json/kr/1/365/064Y001/DD/20140101/20191231/0001000"

## google data sample
google api 는 2017년도 부로 종료되었다고 한다.  
( 출처 : https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#google-finance )  

> Google’a API has become less reliable during 2017. While the google datareader often works as expected, it is not uncommon to experience a range of errors when attempting to read data, especially in bulk.

In [6]:
start = datetime.datetime(2010, 1,1)
end = datetime.datetime(2013, 1, 27)

# 2017년도 부로 종료
# somedata = data.DataReader('F', 'google', start, end)

## Yahoo Finance
yahoo finance api  
> https://pypi.org/project/yahoo-finance/  
> https://finance.yahoo.com/quote/%5EKS11?ltr=1  
> https://blog.rapidapi.com/how-to-use-the-yahoo-finance-api/  
> https://www.datadriveninvestor.com/2019/02/25/6-alternatives-to-the-yahoo-finance-api/

In [10]:
from yahoo_finance import Share
# kospi = Share('YAHOO')

## quandl
wiki price를 조회하기 위해 wiki eod stock price를 구글에서 검색했다.  
quandl을 사용하게 된 계기는 아래의 블로그 글을 보고 나서이다.  
참고로 항상 그러하듯이 유료 서비스도 제공하는 api 서비스는 api 키를 항상 등록해야만 한다. 세상은 공짜가 아니다 역시.  
- 참고자료  
> Quandl을 사용하여 주식정보 가져오기  
> https://enjoyiot.tistory.com/entry/02-Quandl%EC%9D%84-%EC%82%AC%EC%9A%A9%ED%95%98%EC%97%AC-%EC%A3%BC%EC%8B%9D%EC%A0%95%EB%B3%B4-%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0  
> alternatives to Google Finance API  
> https://blog.rapidapi.com/google-finance-api-alternatives/  
  
Yahoo finance를 적용해보고 안되면 quandl로 돌아올 예정이다.
> 돌아왔다 결국...ㅋㅋ  
  
주의할 점은 API KEY를 등록해 사용해야 한다는 것이다.  
- 참고자료  
https://docs.quandl.com/docs/python-installation#section-authentication  
  
> quandl.ApiConfig.api_key = "YOURAPIKEY"

### 데이터  
  

예제는 대부분 Mergent Global fundamentals 데이터셋을 사용한다. MER/F1 table 이라고 부르는 듯 하다.  

- Quandl 페이지 내 Mergent Global Fundamentals Data 소개 페이지
  https://www.quadl.com/databases/MF1/data  
  
  
- 국가 코드 및 데이터가 지원되는 회사 갯수 목록  
  https://www.quandl.com/databases/MF1/documentation?anchor=coverage-data-organization  
  
  
- API Usage  
  https://www.quandl.com/databases/MF1/usage/quickstart/api  
  
  
- FULL DOCUMENTATION  
  https://docs.quandl.com/docs
  
  
- Quandl Tables API
  https://docs.quandl.com/docs/tables-1

In [24]:
# import quandl
# quandl.ApiConfig.api_key = "[quandl api키]"
# data = quandl.get_table('MER/F1', compnumber="39102", paginate=True)

In [13]:
data

,compnumber,reportid,mapcode,amount,reportdate,reporttype,auditorstatus,currency,consolidated,longname,...,city,statecode,country,zipcode,phonenumber,faxnumber,website,fye,indicator,statement
None,,,,,,,,,,,,,,,,,,,,,
0,39102,1851368960,-9087,1.044685e+01,2010-12-31,A,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Total Assets Per Share,Balance Sheet
1,39102,1851369024,-9087,1.044685e+01,2010-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Total Assets Per Share,Balance Sheet
2,39102,1885110592,-1465,6.425250e-01,2012-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Free Cash Flow Per Share,Derived
3,39102,1885110592,-5370,8.596581e+00,2012-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Revenue Per Share,Income Statement
4,39102,1851368960,-1012,3.392546e+00,2010-12-31,A,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,EBITDA Margin,Derived
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,39102,1623720960,-5370,3.772606e+00,2015-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Revenue Per Share,Income Statement
1310,39102,1623720960,-4051,1.910000e+09,2015-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Accounts Payable,Balance Sheet
1311,39102,1623720960,-4021,3.795338e+09,2015-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Weighted Average Shares Outstanding - Basic,Income Statement
1312,39102,1623720960,-1791,3.232125e+00,2015-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,Receivables Turnover,Derived
1313,39102,1623720960,-1012,1.651427e+01,2015-12-31,Q4,N,EUR,True,Nokia Corp,...,Espoo,None,FIN,Fl-02610,(358) 1 0448 8000,(358) 1 0448 1002,www.nokia.com,2018-12-31,EBITDA Margin,Derived

In [23]:
df_gold = pdr.DataReader('GOLDAMGBD228NLBM', 'fred', start='2014-01-01')

print('row count:', len(df_gold))
df_gold.tail(2000)

row count: 1488

            GOLDAMGBD228NLBM
DATE
2014-01-01               NaN
2014-01-02           1219.75
2014-01-03           1232.25
2014-01-06           1238.00
2014-01-07           1237.50
...                      ...
2019-09-09           1509.95
2019-09-10           1494.60
2019-09-11           1493.65
2019-09-12           1502.95
2019-09-13           1506.30

[1488 rows x 1 columns]